.home-page{
	display: flex;
	flex-direction: column;	
	align-items: center;
	min-width: 70vw;
}

.home-header{
	text-align: center;
}

.home-header h1{
	margin-bottom: 0;
	font-size: 2.5vw;
	text-transform:uppercase;
}

.home-header p{
	font-style: italic;
	font-size: 0.9vw;
	margin: 0.5em;
}

.output-vid{
	margin: 2em;
	display: flex;
	flex-direction: column;
	width: 50vw;
}

.output-vid h3{
	margin: 0;
	font-size: 1vw;
}

.info-box{
	margin: 2em;
	border: 1px solid black;
	padding: 1em 3em;
	width: 45vw;
	font-size: 0.7vw;
}

.product-box{
	display: flex;
	gap: 4em;
}

.product-box h3{
	margin: 0.5em 0;
	font-size: 0.9vw;
}

.product-box li{
	list-style-position: inside;
	font-size: 0.8vw;
}

video{
	margin-top: 0.5em;
	border: 1px solid black;
	width: 50vw;
}

@media (max-width: 1300px) {
	.home-header h1{
		font-size: 6vw;
	}
	.home-header p{
		font-size: 2vw;
	}
	.output-vid{
		width: 80vw;
	}
	.output-vid h3{
		font-size: 2vw;
	}
	.info-box{
		font-size: 2vw;
		width: 70vw;
	}
	.product-box h3{
		font-size: 2vw;
	}
	.product-box li{
		font-size: 1.5vw;
	}
	video{
	  width: 80vw;
	}
} 